body {
  background-color: grey;
  font-family: Times New Roman;
  margin: 0;
  padding: 0; 
}
h1 {
  background: black;
  color: Blue;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px
}
h2 {
  color: Red;
  border-radius: 15px;
}
p {
  font-size: 18px;
}
section {
  background: white;
  margin: 10px;
  padding: 5px;
}
