body {
  background-color: grey;
  font-family: Times New Roman;
  
}
h1 {
  color: Blue;
  text-align: center;
}
h2 {
  color: Red;
}
p {
  font-size: 18px;
}
section {
  background-color: green;
  margin: 20px;
  padding: 18px;
}
